<div class="content">
<div class ="justify-content-md-center">
  <div class="cards">
      <% @bookings.each do |booking| %>
      <div class="card">
        <%= link_to booking_path(booking), class:"text-decoration-none" do %>
            <div class="card-product">
              <img src= <%= cl_image_path booking.surfboard.photos[0].key %>>
              <div class="card-product-infos">
                <h3>Your upcoming trip to: </h3>
                <% @results = Geocoder.search([booking.surfboard.latitude, booking.surfboard.longitude]) %>
                <h2><%= @results.first.county %>, <%= @results.first.country %></h2>
                <p><%= booking.starts_at.strftime('%b %d \'%y') %> to
                <%= booking.ends_at.strftime('%b %d \'%y') %></p>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
