<div class="row justify-content-center">
  <div  class="col-12 col-sm-4">
    <%= simple_form_for [@surfboards, @booking] do |f| %>
      <%= f.input :starts_at, required: true, as: :date, html5: true %>
      <%= f.input :ends_at, required: true, as: :date, html5: true %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
