<div class="jumbotron banner-back parent position-relative" style="opacity: 0.8;">
  <div class="position-absolute" style="top: 150px; right: 60px; opacity: 1">
    <h4 class="display-7" style="color: white">Where you going?</h4>
    <p class="lead">
      <%= form_with url: surfboards_path, method: :get, class: "d-flex" do %>
        <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a board",
            data: {address_autocomplete_target: "address"},
            class: 'd-none'
          %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </p>
    </div>
  </div>
</div>


<%# <h1>Pages#home</h1>
<% @surfboards.each do |surfboard| %>
<%# <%= surfboard.description %>
<%# <%= surfboard.price %>
<%# <%= link_to 'View', surfboard_path(surfboard), class: 'btn btn-warning' %>
<%# <br> %>
<%# <% end %>
