<div class="content">
  <div class="cards">
      <% @surfboards.each do |surfboard| %>
      <div class="card">
        <%= link_to surfboard_path(surfboard), class:"text-decoration-none" do %>
            <div class="card-product">
              <div class="rating">
                <i class="fa-solid fa-star" style="color:#FFD700"></i>
                <h5 style="padding-left:4px"><%= surfboard.rating %></h5>
              </div>
              <img src= <%= cl_image_path surfboard.photos[0].key %>>
              <div class="card-product-infos">
                <h3><%= surfboard.title %></h3>
                <% @results = Geocoder.search([surfboard.latitude, surfboard.longitude]) %>
                <h2><%= @results.first.county %></h2>
                <p>$<%= surfboard.price %> per day</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="width: 40%; height: 750px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
