<div class="main">
  <div class="main__content">
    <div class="row">
      <% @surfboards.each do |surfboard| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <%= link_to surfboard_path(surfboard), class:"text-decoration-none" do %>
           <div class="card-category" data-aos="zoom-in" style="background-image: url(<%= surfboard.photos[0].key %>)">
            <%= surfboard.description %>
            <%= surfboard.price %>
            <%= surfboard.rating %>
           </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="main__map">
  </div>
</div>

<h1>Surfboards#index</h1>
<p>Find me in app/views/surfboards/index.html.erb</p>
