<div class="m-3">
  <div class="cards">
      <% @surfboards.each do |surfboard| %>
      <div class="card">
        <%= link_to surfboard_path(surfboard), class:"text-decoration-none" do %>
            <div class="card-product">
              <img src= <%= cl_image_path surfboard.photos[0].key %>>
              <div class="card-product-infos mt-3 mb-3">
                <h3>Surfboard</h3>
                <h2>Location</h2>
                <p>$<%= surfboard.price %> per day</p>
                <p>Rated: *<%= surfboard.rating %>*</p>
                <p><%= surfboard.description[0,48] %>...</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
